.header{
    background-color: #05223e;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    height: 90px;
    overflow: hidden;
}
#logo{
    height: 150px;
    width: 200px;
}
.routes{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.routes:hover{
    color: aquamarine;
}
.links{
    margin-right: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
#name{
    /* color: rgb(239, 169, 84); */
    position: relative;
    left: 40px;
    font-size: 42px;
    background: linear-gradient(to left,rgb(240, 174, 9),rgb(19, 212, 187),rgb(233, 151, 37));
    -webkit-background-clip: text;
    color:transparent;
    font-family:'Times New Roman', Times, serif;
}