form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(124, 122, 122);
    padding: 20px;
    width: 500px;
    background-color: #ffffff29;
    backdrop-filter: blur(10px);
}
.logform{
    background-image: url("../../public/loginbg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position:center; */
    height: 100vh;
    /* filter: blur(50px); */
    width: 100vw;
}
.form{
    position: absolute;
    top: 30%;
    left: 37%;
    width: 200px;
    height: 500px;
    color: rgb(3, 20, 0);
}
.form input{
    height: 30px;
    font-size: 20px;
}
.sub{
    margin-left: 44%;
    width: 80px;
    border: 1px solid rgb(1, 1, 19);
    border-radius: 5px;
}
.sub:hover{
    color: white;
    background-color:black;
}
.form label{
    background-color: #ffffff5f;
    width: 140px;
    border-radius: 2px;
}